body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, tahoma, Arial, 'Lantinghei SC', 'Hiragino Sans GB', STHeitiSC-Light, 'Microsoft YaHei', 微软雅黑;
  font-size: 12px;
  line-height: 1.66667;
  background: #EEE url(../images/pattern.png) repeat;
}

.wrap {
  width: 550px;
  margin: 40px auto 0 auto;
  box-shadow: #404040 0 5px 10px;
  -webkit-box-shadow: #404040 0 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.header {
  position: relative;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom: 1px solid #DDD;
}

.header h1 {
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-indent: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #0BE;
  text-shadow: 0 1px 0 #FFF;
  font-weight: bold;
}

header h1::before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 10px;
  width: 48px;
  height: 24px;
  background: url(../images/lens-48.png) 0 0;
}

.body {
  background-color: #FFF;
  padding: 20px 10px;
  position: relative;
}

.footer {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#FFF));
  border-top: 1px solid #DDD;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  text-align: right;
  padding: 6px 10px;
}

.footer input {
  padding: 5px 10px;
}

.footer input:first-child {
  float: left;
}

.copyright {
  width: 550px;
  margin: 10px auto 80px auto;
  color: #666;
}
