body {
  width: 200px;
  user-select: none;
  -webkit-user-select: none;
}

.capture-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.capture-menu li {
  cursor: pointer;
  height: 25px;
  line-height: 25px;

  position: relative;
  padding-left: 20px;
}

.hide {
  display: none;
}

#git-stars {
  width: 170px;
  height: 20px;
}
